    <div class="row">
        <div class="col">
            <div class="card text-bg-light mb-3">
            <div class="card-header">Información</div>
            <div class="card-body">
                <p><b>Argumentos de entrada:</b> {{#if arguments}} {{arguments}} {{^}} Sin argumentos {{/if}}</p>
                <p><b>Plataforma:</b> {{platform}}</p>
                <p><b>Versión de Node:</b> {{nodeVersion}}</p>
                <p><b>Memoria total reservada:</b> {{memoryTotalReserved}}</p>
                <p><b>Path de ejecución:</b> {{execPath}}</p>
                <p><b>Process id:</b> {{pid}}</p>
                <p><b>Carpeta del proyecto:</b> {{proyectPath}}</p>
                <p><b>Cantidad de CPU:</b> {{cantCpu}}</p>
            </div>
            </div>
        </div>
    </div>
